<div class="modal-header">
  <h4 class="modal-title pull-left"> {{ title }} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="categoryForm" (ngSubmit)="storeCategory()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" aria-describedby="name" placeholder="Enter name" formControlName="name" class="form-control">
      <span *ngIf="!categoryForm.get('name').valid && categoryForm.get('name').touched" style="background-color:red">
        Name input field should not be empty
      </span>
    </div>
    <div class="form-group">
      <label for="name">Image url</label>
      <input formControlName="image" class="form-control" id="image" aria-describedby="image" placeholder="Enter image url">
      <span *ngIf="!categoryForm.get('image').valid && categoryForm.get('image').touched" style="background-color:red">
        Name input field should not be empty
      </span>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="text" rows="3"></textarea>
      <span *ngIf="!categoryForm.get('description').valid && categoryForm.get('description').touched" style="background-color:red">
        Name input field should not be empty
      </span>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid" (click)="modalRef.hide()"  *ngIf="!editMode">Submit</button>
    <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid" (click)="modalRef.hide()" (click)="editCategory()"  *ngIf="editMode">Edit</button>

  </form>
</div>

